$breakpoint--s: 480px;
$breakpoint--m: 768px;
$breakpoint--l: 1024px;
$breakpoint--xl: 1440px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: #{$breakpoint--s - 1}) {
      @content;
    }
  } @else if $media == s {
    @media (min-width: #{$breakpoint--s}) {
      @content;
    }
  } @else if $media == m {
    @media (min-width: #{$breakpoint--m}) {
      @content;
    }
  } @else if $media == l {
    @media (min-width: #{$breakpoint--l}) {
      @content;
    }
  } @else if $media == xl {
    @media (min-width: #{$breakpoint--xl}) {
      @content;
    }
  }
}
